h2 {
  color: green;
  background-color: lightgrey;
  border-style: solid;
  border-radius: 5px;
  border-style: ;
  border-width: 2px;
  border-color: black;

}

.note {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

button:hover {
  color: blue;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.failure {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}